absl-py==0.11.0
asn1crypto==0.24.0
astor==0.8.1
backports.weakref==1.0.post1
cached-property==1.5.2
cffi==1.14.4
configparser==4.0.2
contextlib2==0.6.0.post1
cryptography==2.1.4
enum34==1.1.10
funcsigs==1.0.2
futures==3.1.1
gast==0.4.0
google-pasta==0.2.0
grpcio==1.35.0
h5py==2.10.0
idna==2.6
importlib-metadata==2.1.1
ipaddress==1.0.17
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==10.6.0
keyrings.alt==3.0
Markdown==3.1.1
mock==3.0.5
numpy==1.16.6
pathlib2==2.3.5
Pillow==6.2.2
protobuf==3.14.0
pycairo==1.18.2
pycparser==2.20
pycrypto==2.6.1
PyGObject==3.36.1
pyxdg==0.25
PyYAML==5.4.1
scandir==1.10.0
scipy==1.2.3
SecretStorage==2.3.1
six==1.15.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
tensorflow-gpu==1.14.0
termcolor==1.1.0
typing==3.7.4.3
typing-extensions==3.7.4.3
Werkzeug==1.0.1
wrapt==1.12.1
zipp==1.2.0

scikit-learn~=0.24.1